<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/styles/Anon.css">
        <title>CSCB20</title>
    </head>

    <header>
   
        <div class="container container-nav">
            <div class = "title_of_the_course"> 
             
                <h1 id = "h1_">CSCB20</h1>
                <p class="info_course"> </p>
            </div>
       
        <nav>
            <ul> 

               <li> <a href="index.html" class="active">Home</a> </li>
               <li> <a href="Calendar.html">Calendar</a>  </li>
               <li> <a href="News.html">News</a> </li>
               <li> <a href="Lectures.html">Lectures</a> </li>
               <li> <a href="labs.html">Labs</a> </li>
               <li> <a href="assignments.html">Assignments</a> </li>
               <li> <a href="tests.html">Tests</a>  </li>
               <li> <a href="https://piazza.com/class/kxj5alixpjg4ft" target="_blank"> Discussion Board </a></li>
               <li> <a href="https://markus.utsc.utoronto.ca/cscb20w22/" target="_blank"> Markus </a></li>
               <li> <a href="Anon.html"> Anon Feedback </a></li>
               <li> <a href="resources.html">Resources</a> </li>
               <li> <a href="">       </a> </li>
               
               
                
            </ul>
        </nav>            

    </div>
     
    </header>
    <body>
        <br>
        <br>
      <center> 
          <h1> Note: This form is submitted anonymously, please feel free to share anything related to the course</h1> <hr > <br><br>
  <form  >
    
    <label for="ffeedback">How has  your experience with B20 so far?</label><br>
    <textarea name="ffeedback" style="width:600px; height:60px;">
      
    </textarea>
   
    <p>Any suggestion(s)/ feedback for the instructors?</p>
    <textarea name="message" style="width:600px; height:60px;">
      
      </textarea>
    <br>
    <input type="submit" value="Send Feedback" />
  </form>
        
</center>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

    </body>
    <center> 
    <footer> 
  
        <div>
         

          <ul class="__footer__">
              <a href="https://web.cs.toronto.edu/">
                <div class="img_container">
                    <img src="static/Images/CSFACULTY.png" alt="CS FACULTY U OF T" class="image" style="width:100%">
                    <div class="mid_">
                      <div class="text">Visit</div>
                    </div>
                  </div>
           
              </a>
          </ul>

        </div>
   
      
    </center>
    
  <center> <p >This website was created by Varun Vikram Datta, Emin Rza and Alejandro Iglesias Llobet </p></center>

</footer>

</html>