<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="static/styles/assignments.css" />

    <title>CSCB20 ASSIGNMENTS</title>
  </head>


  <header>
    <div class="container container-nav">
      <div class = "title_of_the_course"> 
       
          <h1 id = "h1_">CSCB20</h1>
          <p class="info_course"> </p>
      </div>
   
    <nav>
        <ul> 

           <li> <a href="index.html" class="active">Home</a> </li>
           <li> <a href="Calendar.html">Calendar</a>  </li>
           <li> <a href="News.html">News</a> </li>
           <li> <a href="Lectures.html">Lectures</a> </li>
           <li> <a href="labs.html">Labs</a> </li>
           <li> <a href="assignments.html">Assignments</a> </li>
           <li> <a href="tests.html">Tests</a>  </li>
           
           <li> <a href="https://piazza.com/class/kxj5alixpjg4ft" target="_blank"> Discussion Board </a></li>
               <li> <a href="https://markus.utsc.utoronto.ca/cscb20w22/"target="_blank"> Markus </a></li>

               <li> <a href="Anon.html"> Anon Feedback </a></li>
               <li> <a href="resources.html">Resources</a> </li>
               <li> <a href="">   </a> </li>
        
            
        </ul>
    </nav>            

</div>
 
</header>

  <body>
    <h1>ASSIGMENTS</h1>

    <div class="table">
      <div class="row rowdark">
        <div class="cell w"><b>#</b></div>
        <div class="cell">Assignment</div>
        <div class="cell">Coverage</div>
        <div class="cell">Weight</div>
        <div class="cell">Due Date</div>
        <div class="cell">Solutions</div>
      </div>
      <div class="row rowlight">
        <div class="cell w">1.</div>
        <div class="cell"><a href="https://q.utoronto.ca/courses/251199/assignments/821733" target="_blank">Assignment 1</a></div>
        <div class="cell">RA, SQL</div>
        <div class="cell">8%</div>
        <div class="cell">Feburary 14th</div>
        <div class="cell"><a href = "https://www.stenhouse.com/sites/default/files/public/legacy/pdfs/8247ch10.pdf" target = "_blank">Solutions A1</a></div>
      </div>
      <div class="row rowdark">
        <div class="cell w">2.</div>
        <div class="cell"><a href="https://q.utoronto.ca/courses/251199/assignments/821733" target="_blank">Assignment 2</a></div>
        <div class="cell">HTML, CSS, Python Flask</div>
        <div class="cell">10%</div>
        <div class="cell">March 15th</div>
        <div class="cell"><a href = "https://www.stenhouse.com/sites/default/files/public/legacy/pdfs/8247ch10.pdf" target = "_blank">Solutions A2</a></div>
      </div>
      <div class="row rowlight">
        <div class="cell w">3.</div>
        <div class="cell"><a href="https://q.utoronto.ca/courses/251199/assignments/821733" target="_blank">Assignment 3</a></div>
        <div class="cell">All topics covered so far</div>
        <div class="cell">15%</div>
        <div class="cell">April 9th</div>
        <div class="cell"><a href = "https://www.stenhouse.com/sites/default/files/public/legacy/pdfs/8247ch10.pdf" target = "_blank">Solutions A3</a></div>
      </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h3>Note: Due dates can be changed, please check Piazza and Markus to be in the loop. </h3>
    <br>
    <br>
    <br>
    <br>
   
  </body>

  <center> 

    <footer> 
  
        <div>
         

          <ul class="__footer__">
              <a href="https://web.cs.toronto.edu/">
                <div class="img_container">
                    <img src="static/Images/CSFACULTY.png" alt="CS FACULTY U OF T" class="image" style="width:100%">
                    <div class="mid_">
                      <div class="text">Visit</div>
                    </div>
                  </div>
           
              </a>
          </ul>

        </div>
   
      
    </center>
    
  <center> <p >This website was created by Varun Vikram Datta, Emin Rza and Alejandro Iglesias Llobet </p></center>

</footer>

</html>
