<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="static/styles/Lectures.css" />
    <title>Lectures</title>
    <!-- This is a comment !-->
  </head>
  <header>
    <div class="container container-nav">
      <div class = "title_of_the_course"> 
       
          <h1 id = "h1_">CSCB20</h1>
          <p class="info_course"> </p>
      </div>
   
    <nav>
        <ul> 

           <li> <a href="index.html" class="active">Home</a> </li>
           <li> <a href="Calendar.html">Calendar</a>  </li>
           <li> <a href="News.html">News</a> </li>
           <li> <a href="Lectures.html">Lectures</a> </li>
           <li> <a href="labs.html">Labs</a> </li>
           <li> <a href="assignments.html">Assignments</a> </li>
           <li> <a href="tests.html">Tests</a>  </li>
           
           <li> <a href="https://piazza.com/class/kxj5alixpjg4ft" target="_blank"> Discussion Board </a></li>
               <li> <a href="https://markus.utsc.utoronto.ca/cscb20w22/" target="_blank"> Markus </a></li>
               <li> <a href="Anon.html"> Anon Feedback </a></li>
               <li> <a href="resources.html">Resources</a> </li>
               <li> <a href="">   </a> </li>
            
        </ul>
    </nav>            

</div>
 
</header>
  <body>
    <br>
    <br>
   
    <h1>Weekly Materials</h1>
    
    <div class="table">
      <div class="row rowdark">
        <div class="cell w">Week</div>
        <div class="cell">Lecture</div>
        <div class="cell">Tutorial</div>
        <div class="cell">Reading</div>
        <div class="cell">Topic</div>
      </div>
      <div class="row rowlight">
        <div class="cell w">1.</div>
        <div class="cell">
          <a href="https://utoronto.zoom.us/j/85944249580" target="_blank"
            >Lecture Recording W1</a
          >
        </div>
        <div class="cell">
          <a
            href="https://q.utoronto.ca/courses/251199/pages/tutorial-2?module_item_id=3249625"
            target="_blank"
            >Tutorial Questions W1
          </a>
        </div>
        <div class="cell">
          <a
            href="https://miningquiz.com/pdf/Humor/Herculean_Effort.pdf"
            target="_blank"
          >
            Week 1 reading</a
          >
        </div>
        <div class="cell">Introduction – Databases, Relational Model</div>
      </div>
      <div class="row rowdark">
        <div class="cell w">2.</div>
        <div class="cell">
          <a href="https://utoronto.zoom.us/j/85944249580" target="_blank"
            >Lecture Recording W2</a
          >
        </div>
        <div class="cell">
          <a
            href="https://q.utoronto.ca/courses/251199/pages/tutorial-2?module_item_id=3249625"
            target="_blank"
            >Tutorial Questions W2
          </a>
        </div>
        <div class="cell">
          <a
            href="https://miningquiz.com/pdf/Humor/Herculean_Effort.pdf"
            target="_blank"
          >
            Week 2 reading</a
          >
        </div>
        <div class="cell">Relational Model, Relational Algebra</div>
      </div>
      <div class="row rowlight">
        <div class="cell w">3.</div>
        <div class="cell">
          <a href="https://utoronto.zoom.us/j/85944249580" target="_blank"
            >Lecture Recording W3</a
          >
        </div>
        <div class="cell">
          <a
            href="https://q.utoronto.ca/courses/251199/pages/tutorial-2?module_item_id=3249625"
            target="_blank"
            >Tutorial Questions W3
          </a>
        </div>
        <div class="cell">
          <a
            href="https://miningquiz.com/pdf/Humor/Herculean_Effort.pdf"
            target="_blank"
          >
            Week 3 reading</a
          >
        </div>
        <div class="cell">
          Relational Algebra Queries and SQL Query Language
        </div>
      </div>
      <div class="row rowdark">
        <div class="cell w">4.</div>
        <div class="cell">
          <a href="https://utoronto.zoom.us/j/85944249580" target="_blank"
            >Lecture Recording W4</a
          >
        </div>
        <div class="cell">
          <a
            href="https://q.utoronto.ca/courses/251199/pages/tutorial-2?module_item_id=3249625"
            target="_blank"
            >Tutorial Questions W4
          </a>
        </div>
        <div class="cell">
          <a
            href="https://miningquiz.com/pdf/Humor/Herculean_Effort.pdf"
            target="_blank"
          >
            Week 4 reading</a
          >
        </div>
        <div class="cell">SQL Query Language</div>
      </div>
      <div class="row rowlight">
        <div class="cell w">5.</div>
        <div class="cell">
          <a href="https://utoronto.zoom.us/j/85944249580" target="_blank"
            >Lecture Recording W5</a
          >
        </div>
        <div class="cell">
          <a
            href="https://q.utoronto.ca/courses/251199/pages/tutorial-2?module_item_id=3249625"
            target="_blank"
            >Tutorial Questions W5
          </a>
        </div>
        <div class="cell">
          <a
            href="https://miningquiz.com/pdf/Humor/Herculean_Effort.pdf"
            target="_blank"
          >
            Week 5 reading</a
          >
        </div>
        <div class="cell">SQL and Introduction to web development</div>
      </div>
      <div class="row rowdark">
        <div class="cell w">6.</div>
        <div class="cell">
          <a href="https://utoronto.zoom.us/j/85944249580" target="_blank"
            >Lecture Recording W6</a
          >
        </div>
        <div class="cell">
          <a
            href="https://q.utoronto.ca/courses/251199/pages/tutorial-2?module_item_id=3249625"
            target="_blank"
            >Tutorial Questions W6
          </a>
        </div>
        <div class="cell">
          <a
            href="https://miningquiz.com/pdf/Humor/Herculean_Effort.pdf"
            target="_blank"
          >
            Week 6 reading</a
          >
        </div>
        <div class="cell">Introduction to HTML and CSS</div>
      </div>
      <div class="row rowlight">
        <div class="cell w">7.</div>
        <div class="cell">
          <a href="https://utoronto.zoom.us/j/85944249580" target="_blank"
            >Lecture Recording W7</a
          >
        </div>
        <div class="cell">
          <a
            href="https://q.utoronto.ca/courses/251199/pages/tutorial-2?module_item_id=3249625"
            target="_blank"
            >Tutorial Questions W7
          </a>
        </div>
        <div class="cell">
          <a
            href="https://miningquiz.com/pdf/Humor/Herculean_Effort.pdf"
            target="_blank"
          >
            Week 7 reading</a
          >
        </div>
        <div class="cell">HTML, CSS, Box Model</div>
      </div>
      <div class="row rowdark">
        <div class="cell w">8.</div>
        <div class="cell">
          <a href="https://utoronto.zoom.us/j/85944249580" target="_blank"
            >Lecture Recording W8</a
          >
        </div>
        <div class="cell">
          <a
            href="https://q.utoronto.ca/courses/251199/pages/tutorial-2?module_item_id=3249625"
            target="_blank"
            >Tutorial Questions W8
          </a>
        </div>
        <div class="cell">
          <a
            href="https://miningquiz.com/pdf/Humor/Herculean_Effort.pdf"
            target="_blank"
          >
            Week 8 reading</a
          >
        </div>
        <div class="cell"><b>Mid-Term exam</b></div>
      </div>
      <div class="row rowlight">
        <div class="cell w">9.</div>
        <div class="cell">
          <a href="https://utoronto.zoom.us/j/85944249580" target="_blank"
            >Lecture Recording W9</a
          >
        </div>
        <div class="cell">
          <a
            href="https://q.utoronto.ca/courses/251199/pages/tutorial-2?module_item_id=3249625"
            target="_blank"
            >Tutorial Questions W9
          </a>
        </div>
        <div class="cell">
          <a
            href="https://miningquiz.com/pdf/Humor/Herculean_Effort.pdf"
            target="_blank"
          >
            Week 9 reading</a
          >
        </div>
        <div class="cell">Introduction to Flask, Flexbox and Media Queries</div>
      </div>
      <div class="row rowdark">
        <div class="cell w">10.</div>
        <div class="cell">
          <a href="https://utoronto.zoom.us/j/85944249580" target="_blank"
            >Lecture Recording W10</a
          >
        </div>
        <div class="cell">
          <a
            href="https://q.utoronto.ca/courses/251199/pages/tutorial-2?module_item_id=3249625"
            target="_blank"
            >Tutorial Questions W10
          </a>
        </div>
        <div class="cell">
          <a
            href="https://miningquiz.com/pdf/Humor/Herculean_Effort.pdf"
            target="_blank"
          >
            Week 10 reading</a
          >
        </div>
        <div class="cell">Flask and Introduction to JavaScript</div>
      </div>
      <div class="row rowlight">
        <div class="cell w">11.</div>
        <div class="cell">
          <a href="https://utoronto.zoom.us/j/85944249580" target="_blank"
            >Lecture Recording W11</a
          >
        </div>
        <div class="cell">
          <a
            href="https://q.utoronto.ca/courses/251199/pages/tutorial-2?module_item_id=3249625"
            target="_blank"
            >Tutorial Questions W11
          </a>
        </div>
        <div class="cell">
          <a
            href="https://miningquiz.com/pdf/Humor/Herculean_Effort.pdf"
            target="_blank"
          >
            Week 11 reading</a
          >
        </div>
        <div class="cell">Integrating Flask and SQL</div>
      </div>
      <div class="row rowdark">
        <div class="cell w">12.</div>
        <div class="cell">
          <a href="https://utoronto.zoom.us/j/85944249580" target="_blank"
            >Lecture Recording W12</a
          >
        </div>
        <div class="cell">
          <a
            href="https://q.utoronto.ca/courses/251199/pages/tutorial-2?module_item_id=3249625"
            target="_blank"
            >Tutorial Questions W12
          </a>
        </div>
        <div class="cell">
          <a
            href="https://miningquiz.com/pdf/Humor/Herculean_Effort.pdf"
            target="_blank"
          >
            Week 12 reading</a
          >
        </div>
        <div class="cell">Flask and SQL, examples</div>
      </div>
    </div>

    <h2> Lectures will be held at the Instructional Centre </h2>
  
  <br>
  <hr>
  <br>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2880.49134459543!2d-79.19017724902788!3d43.78341655191633!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4db5dd100fbc5%3A0xe420fb18a3d8136!2sScience%20Wing%20(S-Wing)%20%7C%20SW!5e0!3m2!1sen!2sca!4v1647339840649!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </body>

  <center> 
    <footer> 
  
        <div>
         

          <ul class="__footer__">
              <a href="https://web.cs.toronto.edu/">
                <div class="img_container">
                    <img src="static/Images/CSFACULTY.png" alt="CS FACULTY U OF T" class="image" style="width:100%">
                    <div class="mid_">
                      <div class="text">Visit</div>
                    </div>
                  </div>
           
              </a>
          </ul>

        </div>
   
      
    </center>
    
  <center> <p >This website was created by Varun Vikram Datta, Emin Rza and Alejandro Iglesias Llobet </p></center>

</footer>
</html>
