<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/styles/news.css">
        <title>News</title>
    </head>

    <header>
      <div class="container container-nav">
        <div class = "title_of_the_course"> 
         
            <h1 id = "h1_">CSCB20</h1>
            <p class="info_course"> </p>
        </div>
     
      <nav>
          <ul> 

             <li> <a href="index.html" class="active">Home</a> </li>
             <li> <a href="Calendar.html">Calendar</a>  </li>
             <li> <a href="News.html">News</a> </li>
             <li> <a href="Lectures.html">Lectures</a> </li>
             <li> <a href="labs.html">Labs</a> </li>
             <li> <a href="assignments.html">Assignments</a> </li>
             <li> <a href="tests.html">Tests</a>  </li>
             
             <li> <a href="https://piazza.com/class/kxj5alixpjg4ft" target="_blank"> Discussion Board </a></li>
               <li> <a href="https://markus.utsc.utoronto.ca/cscb20w22/" target="_blank"> Markus </a></li>
               <li> <a href="Anon.html"> Anon Feedback </a></li>
               <li> <a href="resources.html">Resources</a> </li>
               <li> <a href="">   </a> </li>
             <li> <a href="#NULL"></a> </li>
              
          </ul>
      </nav>            

  </div>

   
  </header>
    <body>
        
<br>
<br>   

<center>
        <h2> ANNOUNCEMENTS </h2>
     
       

</center>

<h3>Jan 7 </h3>
<hr size="4" width="100%" color="brown">
<p>Tutorials will begin in Week 2 <p>
<h3>Jan 14 </h3>
  <hr size="4" width="100%" color="brown">
<p>Office hours added on the Calandar<p>
<a href="Calendar.html">Check the Calandar out for more detials </a>
  <h3>Jan 26 </h3>
  <hr size="4" width="100%" color="brown">
<p>Term Test 1 scheduled for Feb 28 <p>
  <h3>Feb 26 </h3>
  <hr size="4" width="100%" color="brown">
<p>Term Test 2 scheduled for March 28 <p>
  <h3>March 14 </h3>
  <hr size="4" width="100%" color="brown">
<p>Final Exam scheduled for April 19 <p>
  <h3>April 9 </h3>
  <hr size="4" width="100%" color="brown">
<p>Additional Office hours added durin the exam period <p>
<a href="Calendar.html">Check the Calandar out for more detials </a>
<h3>April 18 </h3>
  <hr size="4" width="100%" color="brown">
<p>Course Feedback form is out! <p>
  <center>
    <form method="post" action="mailto:purva.gawde@utoronto.ca" >
      
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname"> <br>
    <label for="student_num">What is your student number?:</label><br>
    <input type="text" id="ffeedback" name="student_num"><br>
    <label for="ffeedback">How was your experience with B20 this semester?:</label><br>
    <textarea name="ffeedback" style="width:600px; height:60px;">
      
    </textarea>
    <p>What was your favorite part of the course?</p>
    <input type="radio" id="html" name="fav_language" value="HTML">
  <label for="html">HTML</label>
  <input type="radio" id="css" name="fav_language" value="CSS">
  <label for="css">CSS</label>
  <input type="radio" id="javascript" name="fav_language" value="JavaScript">
  <label for="javascript">JavaScript</label>
<input type="radio" id="RA" name="fav_language" value="Relational Algebra">
  <label for="RA">Relational Algebra</label>
<input type="radio" id="SQL" name="fav_language" value="SQL">
  <label for="SQL">SQL</label> 
<input type="radio" id="Flask" name="fav_language" value="Python Flask">
  <label for="Flask">Python Flask</label> <br><br>
<p>Where did you struggle in this course?</p>
    <input type="radio" id="html" name="_language" value="HTML">
  <label for="html">HTML</label>
  <input type="radio" id="css" name="_language" value="CSS">
  <label for="css">CSS</label>
  <input type="radio" id="javascript" name="_language" value="JavaScript">
  <label for="javascript">JavaScript</label>
<input type="radio" id="RA" name="_language" value="Relational Algebra">
  <label for="RA">Relational Algebra</label>
<input type="radio" id="SQL" name="_language" value="SQL">
  <label for="SQL">SQL</label> 
<input type="radio" id="Flask" name="_language" value="Python Flask">
  <label for="Flask">Python Flask</label> <br><br>
   
    <p>Any suggestion(s) for the instructors?</p>
    <textarea name="message" style="width:600px; height:60px;">
      
      </textarea>
    <br>
    <input type="submit" value="Send Feedback" />
  </form>
</center>

    </body>
    <center> 
      <footer> 
    
          <div>
           
  
            <ul class="__footer__">
                <a href="https://web.cs.toronto.edu/">
                  <div class="img_container">
                      <img src="static/Images/CSFACULTY.png" alt="CS FACULTY U OF T" class="image" style="width:100%">
                      <div class="mid_">
                        <div class="text">Visit</div>
                      </div>
                    </div>
             
                </a>
            </ul>
  
          </div>
     
        
      </center>
     
    <center> <p >This website was created by Varun Vikram Datta, Emin Rza and Alejandro Iglesias Llobet </p></center>
  
  </footer>
</html>