<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="static/styles/resources.css" />
    <title>CSCB20 Recources</title>
  </head>


  <header>
    <div class="container container-nav">
      <div class = "title_of_the_course"> 
       
          <h1 id = "h1_">CSCB20</h1>
          <p class="info_course"> </p>
      </div>
   
    <nav>
        <ul> 

           <li> <a href="index.html" class="active">Home</a> </li>
           <li> <a href="Calendar.html">Calendar</a>  </li>
           <li> <a href="News.html">News</a> </li>
           <li> <a href="Lectures.html">Lectures</a> </li>
           <li> <a href="labs.html">Labs</a> </li>
           <li> <a href="assignments.html">Assignments</a> </li>
           <li> <a href="tests.html">Tests</a>  </li>
           
           <li> <a href="https://piazza.com/class/kxj5alixpjg4ft" target="_blank"> Discussion Board </a></li>
               <li> <a href="https://markus.utsc.utoronto.ca/cscb20w22/" target="_blank"> Markus </a></li>
               <li> <a href="Anon.html"> Anon Feedback </a></li>
               <li> <a href="resources.html">Resources</a> </li>
               <li> <a href="">   </a> </li>
         
        </ul>
    </nav>            

</div>
 
</header>

  <body>
    <h2>
      Online Resources:
      <hr />
    </h2>

    <ul>
      <li>
        <span>
          <a href="https://q.utoronto.ca/courses/251199" target="_blank"
            ><b>Quercus course webpage</b></a
          >
        </span>
      </li>
      <li>
        <span>
          <a href="https://piazza.com/class/kxj5alixpjg4ft" target="_blank"
            ><b>Piazza Webpage</b></a
          >
        </span>
      </li>
      <li>
        <span>
          Access
          <a
            href="https://dbis-uibk.github.io/relax/calc/local/uibk/local/0"
            target="_blank"
            ><b>Relational Algebra Calculator</b>
          </a>
          to learn relational algebra (RelAlg) by executing it.
        </span>
      </li>
      <li>
        <span>
          Download
          <a href="https://www.sqlite.org/index.html" target="_blank"
            ><b>SQLite</b></a
          >.
        </span>
      </li>
      <li>
        <span>
          Access
          <a href="https://validator.w3.org/" target="_target"
            ><b>HTML Validator</b></a
          >
          to create syntactically correct and accessible HTML, XHTML, and CSS
          documents.
        </span>
      </li>
      <li>
        <span>
          <a href="https://flask.palletsprojects.com/en/2.0.x/" target="_blank">
            <b>Python Flask Web page</b></a
          >
        </span>
      </li>
      <li>
        <span>
          Download
          <a
            href="https://flask.palletsprojects.com/en/2.0.x/installation/"
            target="_blank"
          >
            <b>Python Flask</b></a
          >.
        </span>
      </li>
      <li>
        <span>
          Download
          <a href="https://code.visualstudio.com/download" target="_blank">
            <b>VS Code</b></a
          >.
        </span>
      </li>
      <li>
        <span
          ><a
            href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide"
            target="_blank"
            ><b>JavaScript Documentation</b></a
          >.</span
        >
      </li>
      <li>
        <span
          >Installation for
          <a
            href="https://flask-sqlalchemy.palletsprojects.com/en/2.x/quickstart/#installation"
            target="_blank"
            ><b>Flask-SQLAlchemy</b></a
          >.</span
        >
      </li>
    </ul>

    <h2>
      Extra Web Development Resources:
      <hr />
    </h2>
    <ul>
      <li>
        <span
          >For broad and robust understanding of Web Development, it is
          recommended to complete
          <a href="https://cs50.harvard.edu/web/2020/" target="_blank"
            ><b> CS50's Web Programming with Python and JS </b></a
          >.</span
        >
      </li>
      <li>
        <span
          >List of recommended
          <a
            href="https://medium.com/@Redwerk/best-books-to-learn-web-development-and-design-redwerk-285fb517575f"
            target="_blank"
            ><b>books</b></a
          >
          to master in Web Development.</span
        >
      </li>
    </ul>
    <h2>Some Useful Videos </h3>
<hr>    <center> 
 <iframe width="600" height="300" src="https://www.youtube.com/embed/TdqQqyc7pfU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
 <iframe width="600" height="300" src="https://www.youtube.com/embed/Z1RJmh_OqeA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</center>   
<br>
<center> 
  <iframe width="600" height="300" src="https://www.youtube.com/embed/HXV3zeQKqGY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <iframe width="600" height="300" src="https://www.youtube.com/embed/RdZSrD4DUvs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</center>
<h1> Anonymous Feedback Form</h1>
<center>
  
  <form  >
    
  <label for="ffeedback">How has  your experience with B20 so far?</label><br>
  <textarea name="ffeedback" style="width:600px; height:60px;">
    
  </textarea>
 
  <p>Any suggestion(s)/ feedback for the instructors?</p>
  <textarea name="message" style="width:600px; height:60px;">
    
    </textarea>
  <br>
  <input type="submit" value="Send Feedback" />
</form>
</center>

 <h2>
      Contact info of teaching staff:

      <hr />
    </h2>
    <ul>
      <li>
        <span
          >Dr. Anna Bretscher:
          <a href="mailto:anna.bretscher@utoronto.ca">anna.bretscher@utoronto.ca</a></span
        >
      </li>
    </ul>

    
  </body>
  <center>
  <footer> 
  
    <div>
     

      <ul class="__footer__">
          <a href="https://web.cs.toronto.edu/">
            <div class="img_container">
                <img src="static/Images/CSFACULTY.png" alt="CS FACULTY U OF T" class="image" style="width:100%">
                <div class="mid_">
                  <div class="text">Visit</div>
                </div>
              </div>
       
          </a>
      </ul>

    </div>

  
</center>

<center> <p >This website was created by Varun Vikram Datta, Emin Rza and Alejandro Iglesias Llobet </p></center>

</footer>

</html>
