
{% extends "template.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
{% if session.user %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div>Welcome back <strong>{{ session.user }}!</strong> you are {{ message }}</div>
      {% endfor %}
    {% else %}
      {% if session.user_type == "student" %}
        <h3> Welcome {{ session.user }} to the CSCB20 Student Course Page!</h3>
        <p> You may now check your Grades here, or submit anonymous feedback here! </p>
      {% else %}
        <h3> Welcome {{ session.user }} to the CSCB20 Instructor Course Page! </h3>
      {% endif%}
    {% endif %}
  {% endwith %}

{% else %}
  <h1>This is my {{ pagename }} page</h1>
  <p> This web app contains the lecture notes collection for lectures 1 to 13 </p>
  {% endif %}
{% endblock %}