
{% extends "template.html" %}
{% block title %}Home{% endblock %}
{% block content %}
{% if session.user %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div>Welcome back <strong>{{ session.user }}!</strong> {{ message }}</div>
      {% endfor %}
    {% else %}
      {% if session.user_type == "student" %}
        <h3> Welcome {{ session.user }} to the CSCB20 Student Course Page!</h3>
        <p> You may now check your Grades here, or submit anonymous feedback here! </p>
      {% else %}
        <h3> Welcome {{ session.user }} to the CSCB20 Instructor Course Page! </h3>
      {% endif%}
    {% endif %}
  {% endwith %}

{% else %}
  <h1>Welcome to my {{ pagename.upper() }} Page!</h1>
  <p> Please take the time to Login (or Register) as a Student or Instructor using the Navigation Bar above! </p>
  {% endif %}
{% endblock %}