
{% extends "template.html" %}
{% block content %}
{% if session.user %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div>Welcome back <strong>{{ session.user }}!</strong> {{ message }}</div>
      {% endfor %}
    {% else %}
      {% if session.user_type == "student" %}
        <!--<center>
          <h3> Welcome {{ session.user }} to the CSCB20 Student Course Page!</h3>
          <p> You may now check your <a href="{{ url_for('View_Grades_Student') }}">Grades</a> or even <a href="{{ url_for('Send_Anon_Feedback') }}">Send Feedback</a> anonymously! </p>
        </center>-->
                  </div>
                
                </header>
                <body>
                  <center>  <h1>Welcome {{ session.user }} to CSCB20!</h1></center>
                  
            <br>

            <br>
            <marquee>FINAL EXAM DATES ARE OUT <br>CHECK NEWS AND TESTS </marquee>
                    <h2> Course Description</h2>
                    <hr>
                    
                    <p>
                      A practical introduction to databases and Web app development. Databases: terminology and applications; creating, querying and updating databases; the entity-relationship model for database design. Web documents and applications: static and interactive documents; Web servers and dynamic server-generated content; Web application development and interface with databases.

                    </p>

                    <p id = "Preq"> Prerequisite:  Some experience with programming in an imperative language such as Python, Java or C.</p>
                  
                    <p id = "Exclusion">
                      Exclusion: This course may not be taken after - or concurrently with - any C- or D-level CSC course.

                      </p>

                        <a href="static/Files/syllabus.pdf"> Syllabus.pdf</a>

                      <h2> Instructor</h2>
                    <hr>
                    <img src = "static/Images/Anna_Bretscher.jpeg" alt =" Dr Anna Bretscher Prof" "> 
                    <h3>Dr. Anna Bretscher</h3>
                    <h3>Office: IC484</h3>
                    <h3>Lectures: Mondays 9:15-11:00 in HW 216</h3> 
                    <h3> Office Hours:	W 11:00-12:00</h3>
                  <h3> <a href="mailto:anna.bretscher@utoronto.ca">anna.bretscher@utoronto.ca</a></h3>

                    
                  <h1>TA Information </h1>
                  <hr>
              
            <center>
                <div class="table">
                  <div class="row rowdark">
                    <div class="cell w">TA name</div>
                    <div class="cell">Availability</div>
                    <div class="cell">Tutorial  Number </div>
                    <div class="cell">Office Hours</div>
                    <div class="cell">Location </div>
                  </div>
                  <div class="row rowlight">
                    <div class="cell w"><a href="mailto:vidyaar@utoronto.ca">Vidya </a></div>
                    <div class="cell">M W F</div>
                    <div class="cell">
                    
                        TUT001 & TUT002
                      
                    </div>
                    <div class="cell">Monday</div>
                    <div class="cell">IC130</div>
                  </div>
                  <div class="row rowdark">
                    <div class="cell w"><a href="mailto:rickr@utoronto.ca">Rick </a></div>
                    <div class="cell">M Th</div>
                    <div class="cell">
                      TUT003 & TUT004
                      
                    </div>
                    <div class="cell">Friday</div>
                    <div class="cell">HW215</div>
                  </div>
                  <div class="row rowlight">
                    <div class="cell w"><a href="mailto:Daniel@utoronto.ca"> Daniel</a></div>
                    <div class="cell">Tu Th</div>
                    <div class="cell">
                      
                      TUT05 & TUT006
                    </div>
                    <div class="cell">Tuesday</div>
                    <div class="cell">SY110</div>
                  </div>
                </div>

                </center>
      {% else %}
        <center>
          <h2> Welcome {{ session.user }} to the CSCB20 Instructor Page! </h2>
        </center>
      {% endif%}
    {% endif %}
  {% endwith %}

{% else %}
  <center>
    <h1>Welcome to the {{ pagename.upper() }} Page!</h1>
    <p> Please take the time to <a href="{{ url_for('login') }}">Login</a> (or <a href="{{ url_for('register') }}">Register</a>) as a Student or Instructor using the Navigation Bar above! </p>
  </center>
  {% endif %}
{% endblock %}