{% extends "template.html" %}
{% block content %}
{% with messages = get_flashed_messages(with_categories = True) %}
    {% if messages %}
        {% for category, message in messages %}
            <div>{{ category.upper() }} - {{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}
    <center>
        <h1>LABS</h1>
        <h3>(Please attend at least 9 labs to get the full 2% participation mark)</h3>
    </center>
    <hr>
    <br>
    <div class="table">
      <div class="row rowdark">
        <div class="cell w">Week</div>
        <div class="cell">Lab Handouts</div>
        <div class="cell">Answer Key</div>
      </div>
      <div class="row rowlight">
        <div class="cell w">2.</div>
        <div class="cell">
          <a
            href="https://q.utoronto.ca/courses/251199/pages/tutorial-2?module_item_id=3249625"
            target="_blank"
            >Handout W2</a
          >
        </div>
        <div class="cell">
          <a
            href="https://q.utoronto.ca/courses/251199/pages/tutorial-3-solution?module_item_id=3249677"
            target="_blank"
            >Answer Key W2</a
          >
        </div>
      </div>
      <div class="row rowdark">
        <div class="cell w">3.</div>
        <div class="cell">
          <a
            href="https://q.utoronto.ca/courses/251199/pages/tutorial-2?module_item_id=3249625"
            target="_blank"
            >Handout W3</a
          >
        </div>
        <div class="cell">
          <a
            href="https://q.utoronto.ca/courses/251199/pages/tutorial-3-solution?module_item_id=3249677"
            target="_blank"
            >Answer Key W3</a
          >
        </div>
      </div>
      <div class="row rowlight">
        <div class="cell w">4.</div>
        <div class="cell">
          <a
            href="https://q.utoronto.ca/courses/251199/pages/tutorial-2?module_item_id=3249625"
            target="_blank"
            >Handout W4</a
          >
        </div>
        <div class="cell">
          <a
            href="https://q.utoronto.ca/courses/251199/pages/tutorial-3-solution?module_item_id=3249677"
            target="_blank"
            >Answer Key W4</a
          >
        </div>
      </div>
      <div class="row rowdark">
        <div class="cell w">5.</div>
        <div class="cell">
          <a
            href="https://q.utoronto.ca/courses/251199/pages/tutorial-2?module_item_id=3249625"
            target="_blank"
            >Handout W5</a
          >
        </div>
        <div class="cell">
          <a
            href="https://q.utoronto.ca/courses/251199/pages/tutorial-3-solution?module_item_id=3249677"
            target="_blank"
            >Answer Key W5</a
          >
        </div>
      </div>
      <div class="row rowlight">
        <div class="cell w">6.</div>
        <div class="cell">
          <a
            href="https://q.utoronto.ca/courses/251199/pages/tutorial-2?module_item_id=3249625"
            target="_blank"
            >Handout W6</a
          >
        </div>
        <div class="cell">
          <a
            href="https://q.utoronto.ca/courses/251199/pages/tutorial-3-solution?module_item_id=3249677"
            target="_blank"
            >Answer Key W6</a
          >
        </div>
      </div>
      <div class="row rowdark">
        <div class="cell w">7.</div>
        <div class="cell">
          <a
            href="https://q.utoronto.ca/courses/251199/pages/tutorial-2?module_item_id=3249625"
            target="_blank"
            >Handout W7</a
          >
        </div>
        <div class="cell">
          <a
            href="https://q.utoronto.ca/courses/251199/pages/tutorial-3-solution?module_item_id=3249677"
            target="_blank"
            >Answer Key W7</a
          >
        </div>
      </div>
      <div class="row rowlight">
        <div class="cell w">8.</div>
        <div class="cell">
          <a
            href="https://q.utoronto.ca/courses/251199/pages/tutorial-2?module_item_id=3249625"
            target="_blank"
            >Handout W8</a
          >
        </div>
        <div class="cell">
          <a
            href="https://q.utoronto.ca/courses/251199/pages/tutorial-3-solution?module_item_id=3249677"
            target="_blank"
            >Answer Key W8</a
          >
        </div>
      </div>
      <div class="row rowdark">
        <div class="cell w">9.</div>
        <div class="cell">
          <a
            href="https://q.utoronto.ca/courses/251199/pages/tutorial-2?module_item_id=3249625"
            target="_blank"
            >Handout W9</a
          >
        </div>
        <div class="cell">
          <a
            href="https://q.utoronto.ca/courses/251199/pages/tutorial-3-solution?module_item_id=3249677"
            target="_blank"
            >Answer Key 9</a
          >
        </div>
      </div>
      <div class="row rowlight">
        <div class="cell w">10.</div>
        <div class="cell">
          <a
            href="https://q.utoronto.ca/courses/251199/pages/tutorial-2?module_item_id=3249625"
            target="_blank"
            >Handout W10</a
          >
        </div>
        <div class="cell">
          <a
            href="https://q.utoronto.ca/courses/251199/pages/tutorial-3-solution?module_item_id=3249677"
            target="_blank"
            >Answer Key W10</a
          >
        </div>
      </div>
      <div class="row rowdark">
        <div class="cell w">11.</div>
        <div class="cell">
          <a
            href="https://q.utoronto.ca/courses/251199/pages/tutorial-2?module_item_id=3249625"
            target="_blank"
            >Handout W11</a
          >
        </div>
        <div class="cell">
          <a
            href="https://q.utoronto.ca/courses/251199/pages/tutorial-3-solution?module_item_id=3249677"
            target="_blank"
            >Answer Key W11</a
          >
        </div>
      </div>
      <div class="row rowlight">
        <div class="cell w">12.</div>
        <div class="cell">
          <a
            href="https://q.utoronto.ca/courses/251199/pages/tutorial-2?module_item_id=3249625"
            target="_blank"
            >Handout W12</a
          >
        </div>
        <div class="cell">
          <a
            href="https://q.utoronto.ca/courses/251199/pages/tutorial-3-solution?module_item_id=3249677"
            target="_blank"
            >Answer Key W12</a
          >
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <center><h2> Labs will be held at the Instructional Centre </h2></center>
  
    <br>
    <hr>
    <br>
    <center>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2880.334995257426!2d-79.19187524902775!3d43.786661351705966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4da71edf433ed%3A0x6b28fdf0d56fdbcf!2sInstructional%20Centre%2C%201095%20Military%20Trail%2C%20Toronto%2C%20ON!5e0!3m2!1sen!2sca!4v1647339632868!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </center>
{% endblock %}