{% extends "template.html" %}
{% block content %}
{% with messages = get_flashed_messages(with_categories = True) %}
    {% if messages %}
        {% for category, message in messages %}
            <div>{{ category.upper() }} - {{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}
    <form action="http://127.0.0.1:5000/register" method = "POST">
        <label for="username">Username</label>
        <input type="text" id="Username" name="Username">

        <label for="mail"> Email </label>
        <input type="text" id="Email" name="Email">

        <label for="Password">Password</label>
        <textarea id="text" name="Password"></textarea>

        <label for="User_Type">User Type</label>
        <select id="User_Type" name="User_Type">
            <option value="student">Student</option>
            <option value="instructor">Instructor</option>
        </select>

        <button type="register">Register</button>
    </form>

    <center>
        <p>Already have an account?</p> 
        <p>Click <a href="{{ url_for('login') }}">HERE</a> to Login!</p>
    </center>
{% endblock %}