{% extends "template.html" %}
{% block content %}
{% with messages = get_flashed_messages(with_categories = True) %}
    {% if messages %}
        {% for category, message in messages %}
            <div>{{ category.upper() }} - {{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}
    <h2>Online Resources: <hr/></h2>

  <ul>
    <li>
      <span>
        <a href="https://q.utoronto.ca/courses/251199" target="_blank"
          ><b>Quercus course webpage</b></a
        >
      </span>
    </li>
    <li>
      <span>
        <a href="https://piazza.com/class/kxj5alixpjg4ft" target="_blank"
          ><b>Piazza Webpage</b></a
        >
      </span>
    </li>
    <li>
      <span>
        Access
        <a
          href="https://dbis-uibk.github.io/relax/calc/local/uibk/local/0"
          target="_blank"
          ><b>Relational Algebra Calculator</b>
        </a>
        to learn relational algebra (RelAlg) by executing it.
      </span>
    </li>
    <li>
      <span>
        Download
        <a href="https://www.sqlite.org/index.html" target="_blank"
          ><b>SQLite</b></a
        >.
      </span>
    </li>
    <li>
      <span>
        Access
        <a href="https://validator.w3.org/" target="_target"
          ><b>HTML Validator</b></a
        >
        to create syntactically correct and accessible HTML, XHTML, and CSS
        documents.
      </span>
    </li>
    <li>
      <span>
        <a href="https://flask.palletsprojects.com/en/2.0.x/" target="_blank">
          <b>Python Flask Web page</b></a
        >
      </span>
    </li>
    <li>
      <span>
        Download
        <a
          href="https://flask.palletsprojects.com/en/2.0.x/installation/"
          target="_blank"
        >
          <b>Python Flask</b></a
        >.
      </span>
    </li>
    <li>
      <span>
        Download
        <a href="https://code.visualstudio.com/download" target="_blank">
          <b>VS Code</b></a
        >.
      </span>
    </li>
    <li>
      <span
        ><a
          href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide"
          target="_blank"
          ><b>JavaScript Documentation</b></a
        >.</span
      >
    </li>
    <li>
      <span
        >Installation for
        <a
          href="https://flask-sqlalchemy.palletsprojects.com/en/2.x/quickstart/#installation"
          target="_blank"
          ><b>Flask-SQLAlchemy</b></a
        >.</span
      >
    </li>
  </ul>

  <h2>
    Extra Web Development Resources:
    <hr />
  </h2>
  <ul>
    <li>
      <span
        >For broad and robust understanding of Web Development, it is
        recommended to complete
        <a href="https://cs50.harvard.edu/web/2020/" target="_blank"
          ><b> CS50's Web Programming with Python and JS </b></a
        >.</span
      >
    </li>
    <li>
      <span
        >List of recommended
        <a
          href="https://medium.com/@Redwerk/best-books-to-learn-web-development-and-design-redwerk-285fb517575f"
          target="_blank"
          ><b>books</b></a
        >
        to master in Web Development.</span
      >
    </li>
  </ul>
  <h2>Some Useful Videos: </h2>
  <hr>
<center> 
<iframe width="600" height="300" src="https://www.youtube.com/embed/TdqQqyc7pfU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
<iframe width="600" height="300" src="https://www.youtube.com/embed/Z1RJmh_OqeA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</center>   
<br>
<center> 
<iframe width="600" height="300" src="https://www.youtube.com/embed/HXV3zeQKqGY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="600" height="300" src="https://www.youtube.com/embed/RdZSrD4DUvs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</center>
<br>
<br>
<center>
<h2>
    Contact info of teaching staff:

    <hr />
  </h2>
  <ul>
    <li>
      <span
        >Dr. Anna Bretscher:
        <a href="mailto:anna.bretscher@utoronto.ca">anna.bretscher@utoronto.ca</a></span
      >
    </li>
  </ul>
</center>
{% endblock %}