{% extends "template.html" %}
{% block content %}
{% with messages = get_flashed_messages(with_categories = True) %}
    {% if messages %}
        {% for category, message in messages %}
            <div>{{ category.upper() }} {{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}

<form>
    <div class = "Anon_Feedback_container">
      <h3 id="h3_feedback">Please use this form to provide us with feedback regarding the course anonymously</h3>
    <br> 
   
    <textarea cols = "32" rows = "8" placeholder=" What do you like about the instructor teaching?" required></textarea>
    <textarea cols = "32" rows = "8" placeholder=" What do you recommend the instructor to do to improve their teaching?" required></textarea>
    <textarea cols = "32" rows = "8" placeholder=" What do you like about the labs?" required></textarea>
    <textarea cols = "32" rows = "8" placeholder=" What do you recommend the lab instructors to do to improve their lab teaching?" required></textarea>
    
    <select id="Instructor_Name"  name="Instrcutor Name" required>
       <option value = "placeholder"> Please Select an Instructor</option>
    </select>

  </div>

  <button type="Submit">Send Feedback!</button>

    
  
  </form>
  <script LANGUAGE="JavaScript" src="static/JS/submit_feedback.js"></script>

{% endblock %}
