<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>Lecture Notes</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='styles/template.css') }}">
 </head>
 <body>
    <header>
      <div class="container">
        <h1 class="logo">Lecture Notes for B20</h1>
        <strong>
        <nav class="navigation">
            {% if session.user %}
              {% if session.user_type == "instructor" %}
              <a href="{{ url_for('home') }}">Home</a>
              <a href="{{ url_for('notes') }}">Notes</a>
              <a href="{{ url_for('add') }}">Add Notes</a>
              <a href="{{ url_for('logout') }}">Logout</a>
              {% else %}
              <a href="{{ url_for('logout') }}">Logout</a>
              {% endif%}
            {% else %}
            <a href="{{ url_for('register') }}">Register</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </nav>
        </strong>
      </div>
    </header>
    <br>
    
    {% block content %}
    {% endblock %}
    
 </body>
</html>
