<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>CSCB20</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='styles/template_.css') }}">
 </head>

    <header>
   
        <div class="container container-nav">
            <div class = "title_of_the_course"> 
             
               <center><h1 id = "h1_">CSCB20</h1></center> 
                <p class="info_course"> </p>
            </div>
          
       
        <nav>
            <ul> 
                {% if session.user %}
               <li><a href="{{ url_for('home') }}">Home</a></li> 
               <li>  <a href="{{ url_for('notes') }}">Notes</a> </li>
               <li><a href="{{ url_for('add') }}">Add Notes</a></li>
               <li>  <a href="{{ url_for('logout') }}">Logout</a></li> 
               {% else %}
               <li>  <a href="{{ url_for('register') }}">Register</a></li> 
                <li> <a href="{{ url_for('login') }}">Login</a></li> 
                  <li> <a href="{{ url_for('logout') }}">Logout</a></li> 
                  <li> </li>
                  <li> </li>
                  <li> </li>
                  <li> </li>
                  <li> </li>
                  <li> </li>
                  <li> </li>
                  <li> </li>
                  <li> </li>
                  <li> </li>
                  <li> </li>
                  <li> </li>
                  <li> </li>
                  <li> </li>
                  <li> </li>
                  <li> </li>
                  <li> </li>
                  <li> </li>
                  <li> </li>
                  <li> </li>
                  <li> </li>
                  <li> </li>
                  <li> </li>
                  <li> </li>
                  <li> </li>
                  <li> </li>
                  <li> </li>
                  <li> </li>
                  <li> </li>
                  

               {% endif %}
            </ul>
        </nav>            

    </div>
     
    </header>
    
    <br>
    
    {% block content %}
    {% endblock %}

<body>
 </body>



 <footer> 
  
    <div>
     


<center>
      <ul class="__footer__">
    
          <a href="https://web.cs.toronto.edu/">
            <div class="img_container">
                <img src="static/Images/CSFACULTY.png" alt="CS FACULTY U OF T" class="image" style="width:100%">
                <div class="mid_">
                  <div class="text">Visit</div>
                </div>
              </div>
       
          </a>
      </ul>

    </div>

  
</center>


</footer>
</html>
