{% extends "template.html" %}
{% block content %}
<center><h1>Tests Info</h1></center>
    <br>
    <div class="table">
      <div class="row rowdark">
        <div class="cell w">Test</div>
        <div class="cell">Coverage</div>
        <div class="cell">Practice Test</div>
        <div class="cell">Date</div>
        <div class="cell">Location</div>
      </div>
      <div class="row rowlight">
        <div class="cell w">TT1</div>
        <div class="cell">Relational Algebra, SQL</div>
        <div class="cell">
          <a
            href="https://www.okaloosaschools.com/fwb/sites/okaloosaschools.com.fwb/files/users/anthonybryant/Web%20Design%20Specialist%20Practice%20Exam%20Informetica.pdf"
            target="_blank"
            >Practice test TT1</a
          >
        </div>
        <div class="cell">Monday, Feburary 28, 2022</div>
        <div class="cell">IC130</div>
      </div>
      <div class="row rowdark">
        <div class="cell w">TT2</div>
        <div class="cell">HTML, CSS, JS</div>
        <div class="cell">
          <a
            href="https://www.okaloosaschools.com/fwb/sites/okaloosaschools.com.fwb/files/users/anthonybryant/Web%20Design%20Specialist%20Practice%20Exam%20Informetica.pdf"
            target="_blank"
            >Practice test TT2</a
          >
        </div>
        <div class="cell">Saturday, March 26, 2022</div>
        <div class="cell">HW215</div>
      </div>
      <div class="row rowlight">
        <div class="cell w">Final</div>
        <div class="cell">W1-W12</div>
        <div class="cell">
          <a
            href="https://www.okaloosaschools.com/fwb/sites/okaloosaschools.com.fwb/files/users/anthonybryant/Web%20Design%20Specialist%20Practice%20Exam%20Informetica.pdf"
            target="_blank"
            >Practice test Final</a
          >
        </div>
        <div class="cell">Tuesday, April 19, 2022</div>
        <div class="cell">SY110</div>
      </div>
    </div>
    <center>
        <br>
        <h3>Note: Test dates are final </h3>
        <h3>In case of any unforseen situations or emergencies, contact the instructors immediately</h3>
        <br>
        <a href="mailto:anna.bretscher@utoronto.ca">anna.bretscher@utoronto.ca</a>
        <br>
    </center>
{% endblock %}