
html {

	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}
/* Header Navigation STARTS*/
.container {
  background:#304550;
  color:brown;
  margin: 0 auto;
  font-family: "VT323", monospace;
  margin: 0;
}

.navigation {
  font-family: "VT323", monospace;
  margin: 0;
	list-style: none;
	margin: 0;
	background: #304550;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
  position: sticky
}

.navigation a {
	text-decoration: none;
	display: block;
	padding: 1em;
  color: #c7c495;
  font-size: 25px
}

.navigation a:hover {
  color: #ffee00;
        
  text-decoration: underline;
}


  @media all and (max-width: 800px) {
    .navigation {
      justify-content: space-around;
    }
  }

  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* Header Navigation ENDS */
  
  body {
    background-color:whitesmoke;
    font-family: "VT323", monospace;
    margin: 0;

  }
  
  /* Forms Begin*/
  form {
    display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
    max-width: 480px;
    margin: 50px auto;
    padding: 16px;
    border: 1px solid #eaeaea;
    font-family: "VT323", monospace;
    justify-content: center;
  background-color: whitesmoke;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea,
  select {
    background-color: #ffffff;
    border: 1px solid #e5e5e4;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 8px 18px;
    height: 48px;
    width: 100%;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 16px;
    transition: all .2s ease;
  }
  
  input::placeholder {
    color: #999;
  }
  
  input:focus,
  textarea:focus,
  select:focus {
    border-color: #00b7f5;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin: 0 4px 8px 0;
  }
  
  select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
    font-family: inherit;
  }
  
  button {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 8px;
    color: #c7c495;
    border-bottom: 40px;
    background-color: #304550;
    border: 10px  whitesmoke;
    border-radius: 24px;
    font-size: 18px;
    text-align: center;
    width: 60%;
 
    color: brown;
  }
  
  fieldset {
    margin-bottom: 28px;
    border: none;
  }
  
  legend {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 16px;
  }
  
  label {
    display: block;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 4px;
  }
  
  label.light {
    font-weight: 300;
    display: inline;
   
    
  }
  
  /* Forms End*/


  


/* all basic elemnts to have same font*/

p{
  font-family: "VT323", monospace;

}
label{
  font-family: "VT323", monospace;
  font-size: 1.1rem;
  color: rgb(191, 69, 69);
  margin: 0;

}
h3{
  font-family: "VT323", monospace;
  font-size: 1.0rem;
  color: brown;
  margin: 0;
}

h1 {
  font-family: "VT323", monospace;
  font-size: 2.5rem;
  color: brown;
  margin: 0;
}
h2 {
  font-family: "VT323", monospace;
  font-size: 2.0rem;
  color: brown;
  margin: 0;
}
/* End of the font stuff*/
  /* Footer Stuff*/


footer {
  display: flex;
  justify-content: space-around;
}

.footer__Heading {
  font-weight: bold;
  font-family: 'Helvetica';
}

.__footer__ {
  font-family: 'Helvetica';
  list-style: none;
  padding: 0;
  margin: 0;
}


   

#Exclusion{color:red;}





.img_container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 50%;
  height: auto;
  transition: .7s ease;
  backface-visibility: hidden;
}

.mid_ {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img_container:hover .image {
  opacity: 0.3;
}

.img_container:hover .mid_ {
  opacity: 1;
}

.text {
  background-color:transparent;
  color: brown;
 
  font-size: 22px;
  padding: 40px 60px;
}
a:hover{
color: rgb(154, 190, 199);}


/* Footer ends*/


/*Stuff for our tables begins */
table {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.cell.w {
  width: 300px;
  font-size: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  font-size: 20px;
}
.rowdark {
  background-color: #77878f;
}
.rowdark:hover {
  background-color: #dee4e7;
}
.rowlight {
  background-color: #b0b7b9;
}
.rowlight:hover {
  background-color: #dee4e7;
}
.cell {
  width: 250px;
  border: 0.5px black solid;
}
